#formation-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    background: repeating-linear-gradient( 
            to bottom,
            rgba(21, 184, 0, 0.877),
            rgba(21, 184, 0, 0.877) 100px,
            rgba(50, 177, 24, 0.726) 100px,
            rgba(50, 177, 24, 0.726) 200px);
            height: 100%;
            width: 100%;
}
/*
#formation-container::before{
    content: "";
    background: url("../img/soccer_field.jpg") 0 0 repeat;
    position: absolute;
    width: 300%;
    height: 100%;
    z-index: -1;
}*/

#n1, #n2, #n3, #n4, #n5, #n6, #n7, #n8, #n9, #n10, #n11{
    display: inline-block;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    margin-left: 5px;
    -webkit-border-radius: 25px;
    font-size: 25px;
    border: none;
    text-align: center;
}

.player-container{
    display: inline-block;
    width: 150px;
    text-align: center;
}

.user.icon{
    color: #fff;
}